<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

  <body>

    <header th:replace="layout/layout :: header"></header>

    <div class="header-factura" th:text="#{text.factura.ver.titulo} + #{text.factura.ver.titulo2}"></div>
    <section class="contenedor-detalles-factura">

      <p class="cabecera-datos-cliente" th:text="#{text.factura.ver.datosCliente}"></p>
      <div >
        <ul class="datos-cliente-factura">
          <li th:text="${factura.cliente.nombre} + ${' '} + ${factura.cliente.apellido}"></li>
          <li th:text="${factura.cliente.email}"></li>
        </ul>
      </div>
      

      <p class="cabecera-datos-factura" th:text="#{text.factura.ver.datosFactura}"></p>
      <ul class="datos-factura">
        <li th:text="#{text.factura.ver.folio} + ${': '} + ${factura.id}"></li>
        <li th:text="#{text.factura.descripcion} + ${': '} + ${factura.descripcion}"></li>
        <li th:text="#{text.factura.fecha} + ${': '} + ${factura.createAt}"></li>
      </ul>

      <div th:if="${#lists.isEmpty(factura.items)}"
           th:text="'No haylineas para la factura ' + ${factura.descripcion}">
      </div>

      <div class="tabla-detalles-factura">
        <table th:if="${not #lists.isEmpty(factura.items)}" class="table table-bordered">
          <thead>
          <tr>
            <th th:text="#{text.factura.nombreProducto}">Producto</th>
            <th th:text="#{text.factura.precio}">Precio</th>
            <th th:text="#{text.factura.cantidad}">Cantidad</th>
            <th th:text="#{text.factura.total}">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="linea: ${factura.items}">
            <td th:text="${linea.producto.nombre}"></td>
            <td th:text="${linea.producto.precio}"></td>
            <td th:text="${linea.cantidad}"></td>
            <td th:text="${linea.calcularImporte()}"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="total-detalle-factura">
        <h5 class="float-right" th:text="#{text.factura.ver.granTotal}"> Gran Total</h5>
        <span th:text="${factura.total}" class="badge badge-secondary"></span>
        <div class="btns-exportar">
          <a class="btn-pdf" th:href="@{'/factura/ver/' + ${factura.id}(format=pdf)}">PDF</a>
          <a class="btn-excel" th:href="@{'/factura/ver/' + ${factura.id}(format=xlsx)}">XLSX</a>
          <a class="btn-json" th:href="@{'/listar-rest'(format=json)}">JSON</a>
        </div>
      </div>

      <div class="header-observasiones" th:text="#{text.factura.ver.tituloObservaciones}"></div>
      <article class="contenedor-ovservasiones">
        <div>
          <p th:text="${factura.observacion}"
             th:if="${not #strings.isEmpty(factura.observacion)}"></p>
          <h4 th:if="${#strings.isEmpty(factura.observacion)}"
              th:text="#{text.factura.ver.textoObservasiones}"></h4>
        </div>
      </article>

    </section>

    <footer th:replace="layout/layout :: footer"></footer>

  </body>
</html>