body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Wix Madefor Text', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body a:hover{
    text-decoration: none;
}

.contenido {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    gap: 20px;
}

.titulo-listar{
    color: blueviolet;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.btn-crear{
    font-size: 20px;
    color: rgba(41, 40, 40, 0.392);
    border: 1px solid rgba(41, 40, 40, 0.392);
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: .3s linear;
    margin: auto;
}

.btn-crear:hover{
    border: 1px solid blueviolet;
    color: blueviolet;
    background-color: rgba(225, 225, 225, 0.272);
}

tr{
    text-align: center;
}

.tabla th{
    color: blueviolet;
    padding: 10px;
}

td{
    text-align: center;
}

.btn-id{
    background-color: rgb(98, 195, 255);
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s linear;
}

.btn-id:hover{
    background-color: rgba(98, 195, 255, 0.623);
    color: white;
}

.btn-editar{
    text-decoration: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    padding: 7px;
    font-size: 15px;
    transition: .2s linear;
}

.btn-editar:hover{
    background-color: rgba(137, 43, 226, 0.727);
    color: white;

}

.btn-eliminar{
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(229, 35, 35, 0.993);
    padding: 7px 5px 9px;
    font-size: 15px;
    transition: .2s linear;
}

.btn-eliminar:hover{
    background-color: rgba(229, 35, 35, 0.872);
    color: white;

}

.btn-factura{
    text-decoration: none;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
    color: white;
    background-color: rgba(158, 25, 191, 0.792);
    transition: .2s linear;
}

.btn-factura:hover{
    background-color: rgba(158, 25, 191, 0.661);
    color: white;
}


/* estilos del form */

.titulo{
    text-align: center;
    color: blueviolet;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
}

.formulario{
    max-width: 500px;
    height: auto;
    margin: 30px auto;
    border-top: none;
    border-bottom: none;
    padding: 40px;
    box-shadow: 0 0 20px 2px rgba(174, 172, 172, 0.5);
}

form{
    width: 100%;
}

.boton{
    background-color: rgb(234, 241, 234);
    border: .5px solid transparent;
    cursor: pointer;
    transition: border 0.3s linear;
    padding: 10px;
    width: 150px;
    align-self: center;
    margin-top: 30px;
}

.boton:hover {
    border: 2px solid blueviolet; /* Cambia el color del borde al pasar el mouse sobre el botón */
}

.con-color{
    color: blueviolet;
    font-weight: bold;
    margin-top: 25px;
}

.campos{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

.campos input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}

.campos input:focus{
    outline: none;
}


.alerta{
    font-size: 11px;
    color: red;
}

/* FOOTER */

.footer{
    max-width: 80%;
    margin: 100px auto;
    overflow: hidden;
}

.logo-footer{
    width: 20%; 
    box-sizing: border-box;
}

.footer a{
    text-decoration: none;
}

.texto-footer{
    margin-top: 50px;
    float: right;
    width: 70%; 
    box-sizing: border-box; 

}

/* paginador */

.lista-paginador{
    width: 30vw;
    display: flex;
    justify-content: center;
    margin: auto;
    padding:  0 40px;
    border: 1px solid rgba(134, 127, 127, 0.363);
    border-radius: 5px;
}

.lista-paginador li{
    list-style: none;
    width: 10%;
    text-align: center;
    transition: .3s linear;
    padding: 7px 10px;
    font-size: 18px;
}

.lista-paginador li:hover{
    background-color: rgba(128, 128, 128, 0.202);
}

.lista-paginador li a{
    text-decoration: none;
}

.lista-paginador li a:hover{
    color: blueviolet;
}

/* estilos alertas */

.btn-cerrar{
    background-color: transparent;
    border: none;
    color: rgb(128 128 128 / 91%);
}

.alerta-creado{
    display: flex;
    justify-content: space-between;
    background-color: rgba(168, 251, 223, 0.485);
    padding: 10px;
    border: 1px solid rgba(86, 222, 154, 0.485);
    color: rgba(46, 46, 46, 0.692);
}

.alerta-creado p{
    margin: 0;
}

.alerta-error{
    display: flex;
    justify-content: space-between;
    background-color: rgba(251, 168, 168, 0.485);
    padding: 10px;
    border: 1px solid rgba(222, 86, 86, 0.485);
    color: rgba(46, 46, 46, 0.692);
}

.alerta-error p{
    margin: 0;
}

.alerta-warning{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(235, 228, 99, 0.729);
    padding: 10px;
    border: 1px solid rgba(146, 146, 30, 0.485);
    color: rgba(46, 46, 46, 0.692);
}

.alerta-creado p{
    margin: 0;
}

.alerta-foto{
    display: flex;
    justify-content: space-between;
    background-color: rgba(168, 251, 172, 0.485);
    padding: 10px;
    border: 1px solid rgba(86, 222, 95, 0.485);
    color: rgba(46, 46, 46, 0.692);
}

.alerta-foto p{
    margin: 0;
}

/* estilos detalles cliente */

.titulo-detalle{
    display: inline;
    text-align: center; 
    width: 50%;   
    position: relative;
    margin: 0;
    left: 31%;
    top: 100px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.contenedor-detalles{
    width: 50%;
    border-radius: 5px;
    margin: 50px auto 0;
    box-shadow: 0 0 20px 2px rgba(174, 172, 172, 0.5);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-cliente{
    width: 25%;
    height: 55%;
    border-radius: 5px;
    object-fit: cover;
}

.datos-cliente{
    list-style: none;
    margin: 0;
    width: 50%;
    padding-left: 50px;
}

.datos-cliente li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.282);
    margin-bottom: 10px;
    padding-left: 20px;
}

.lista-facturas{
    width: 70%;
    margin: 0 auto;
}

.btn-detalle-factura{
    background-color: rgba(98, 195, 255, 0.623);
    color: white;
    padding: 7px 11px;
    border-radius: 5px;
}

.btn-detalle-factura:hover{
    background-color: rgba(98, 195, 255, 0.789);
    color: white;
    transition: .2s linear;
}

/* formulario de factura */

.titulo-factura{
    font-size: 35px;
    color: blueviolet;
    text-align: center;
    margin-bottom: 40px;
}

.formulario-factura{
    max-width: 60%;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 0 20px 2px rgba(174, 172, 172, 0.5);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

.formulario-factura form{
    width: 100%;
}


.campos-factura{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.campos-factura textarea{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}

.campos-factura textarea:focus{
    outline: none;
}

.campos-factura textarea:hover{
    background-color: rgba(128, 128, 128, 0.056);
}

.campos-factura input{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
}

.campos-factura input:focus{
    outline: none;
}

.campos-factura input:hover{
    background-color: rgba(128, 128, 128, 0.056);
}

.btn-crear-factura{
    width: 30%;
    margin: 30px auto;
    padding: 10px 0;
    transition: border .3s linear;
}

.btn-crear-factura:hover{
    border-color: blueviolet;
}

.btn-volver{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.676);
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 7px;
    border-radius: 5px;
}

.btn-volver:hover{
    background-color: rgba(0, 0, 0, 0.067);
}

#buscar_producto{
    list-style: none;
}


/* estilos tabla de productos */

.tabla-productos{
    max-width: 90%;
    margin: 0 auto;
}

.tabla-productos th{
    color: rgba(30, 29, 30, 0.685);
}

.con-color-factura{
    color: blueviolet;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}

.cantidad{
    width: 50%;
    text-align: center;
}


.btn-eliminarFactura{
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 5px;

}

.btn-eliminarFactura:hover{
    background-color: rgba(128, 128, 128, 0.286);
}

.gran-total{
    color: rgba(33, 33, 33, 0.771);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* formulario de inicio */

.container-form{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);    
    max-width: 30rem;
    margin: 0 auto;
    height: 100vh;
}

.titulo-inicio{
    color: blueviolet;
    text-align: center;
    padding-top: 60px;
}

.form-inicio{
    height: 20rem;
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.form-campos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 50px;
}

.form-campos input{
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: .2s linear;
}

.form-campos input:hover{
    background-color: rgba(221, 214, 214, 0.394);
    border: 1px solid black;
}

.container-btn-inicio{
    display: flex;
    justify-content: center;
}

.btn-inicio{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    transition: .2 linear;
}

.btn-inicio:hover{
    background-color: white;
    color: blueviolet;
}


/* error 403 pagina */

.cartel-denegado{
    border: 1px solid rgb(93, 6, 6);
    max-width: 70vw;
    margin: 100px auto;
    background-color: rgb(235, 48, 48);
    color: white;
}

.cartel-denegado p{
    background-color: rgb(235, 38, 38);
    padding: 10px 30px;
}

.cartel-denegado div{
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-denegado{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.btn-denegado:hover{
    color: white;
}


/* estilos de los detalle factura */

.contenedor-detalles-factura{
    max-width: 80vw;
    border: 1px solid grey;
    margin: 0 auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-factura{
    max-width: 80vw;
    margin: 50px auto 0;
    border: 1px solid rgba(137, 43, 226, 0.542);
    border-bottom: none;
    padding: 10px 56px;
    background-color: rgba(191, 185, 185, 0.413);
    color: blueviolet;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.datos-cliente-factura{
    width: 90%;
    list-style: none;
    border: 1px solid grey;
    border-top: none;
    margin: 0px auto 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
}

.datos-cliente-factura li{
    padding-top: 10px;
}


.cabecera-datos-cliente{
    width: 90%;
    margin: 50px auto 0;
    border: 1px solid #3f7ab97f;
    padding: 10px 20px;
    background-color: #b8daff;
    color: rgba(0, 0, 255, 0.55);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cabecera-datos-factura{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #3fb9537f;
    padding: 10px 20px;
    background-color: #bdffb8a6;
    color: rgba(8, 90, 16, 0.55);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.datos-factura{
    width: 90%;
    list-style: none;
    border: 1px solid grey;
    border-top: none;
    margin: 0px auto 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
}

.datos-factura li{
    padding-top: 10px;
}

.tabla-detalles-factura{
    max-width: 72vw;
    margin: 0 auto 50px;
}

.header-observasiones{
    padding: 10px;
    border: 1px solid rgba(41, 41, 200, 0.778);
    width: 20vw;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 55px;
}

.contenedor-ovservasiones{
    padding: 30px 10px;
    border: 1px solid rgba(41, 41, 200, 0.778);
    border-top: none;
    width: 20vw;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 55px;
    margin-bottom: 50px;
}

.total-detalle-factura{
    display: flex;
    flex-direction: column;
    width: 10rem;
    float: right;
    margin-right: 55px;
    height: 9rem;
    align-items: center;
}

.btns-exportar{
    display: flex;
    margin-top: 5rem;
    gap: 10px;
}

.btn-pdf{
    background-color: rgba(255, 0, 0, 0.883);
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}

.btn-pdf:hover{
    background-color: rgba(255, 0, 0, 0.764);
    color: white;
}

h5{
    margin: 0;
}

.btn-excel{
    background-color: rgba(30, 160, 35, 0.883);
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}

.btn-excel:hover{
    background-color: rgba(30, 160, 34, 0.761);
    color: white;
}

.btn-json{
    background-color: #3EB397 ;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 60px;
}

.btn-json:hover{
    background-color: #58C3A9 ;
    color: white;
}








