<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="formulario">
        
        <h1 th:text="${titulo}" class="titulo"></h1>
        
        <!--    action es la ruta a donde se dirigen los datos enviados y objet el objeto al que hacemos referencia-->
        <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
            
            <div class="campos">
                <label class="con-color">Nombre</label>
            <!-- on field mapeamos a los atributos del objeto cliente-->


                <small class="alerta" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
            
                <label class="con-color">Apellido</label>
                <input type="text" th:field="*{apellido}" th:errorclass="'form-control is-invalid'"/>

                <small class="alerta" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
            
                <label class="con-color">Email</label>
                <input type="email" th:field="*{email}" th:errorclass="'form-control is-invalid'" />

                <small class="alerta" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

                <label class="con-color">Fecha</label>
                <input type="text" th:field="*{createAt}" th:errorclass="'form-control is-invalid'" />

                <small class="alerta" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>

                <label class="con-color">Foto</label>
                <input type="file" name="file">

                <input type="submit" value="Crear cliente" class="boton" />
            </div>
            
<!--            <input type="hidden" th:field="*{id}">-->
        </form>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</body>
</html>