<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>


    <div class="container-form">

        <h2 th:text="${titulo}" class="titulo-inicio"></h2>

        <form th:action="@{/login}" method="post" class="form-inicio">

            <div class="form-campos">

                <input type="text" th:placeholder="#{text.login.username}" name="username" id="username" autofocus required>

                <input type="password" th:placeholder="#{text.login.contrasena}" name="password" id="password" required>

                <div class="container-btn-inicio">
                    <input type="submit" th:value="#{text.login.titulo}" class="btn-inicio">
                </div>

            </div>

        </form>

    </div>

    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>


</body>
</html>