<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <p class="titulo-detalle" th:text="${titulo}"></p>
    
    <section class="contenedor-detalles">

        <!-- verifica que el nombre de la foto es mayor a 0, entonce existe-->
        <img class="foto-cliente" th:if="${#strings.length(cliente.foto) > 0}" th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}">

        <ul class="datos-cliente">
            <li th:text="${'Nombre: '} + ${cliente.nombre}"></li>
            <li th:text="${'Apellido: '} + ${cliente.apellido}"></li>
            <li th:text="${'Email: '} + ${cliente.email}"></li>
            <li th:text="${'Fecha: '} + ${cliente.createAt}"></li>
        </ul>

    </section>



    <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alerta-warning"
         th:text="'No hay facturas asignadas para el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

    <div class="lista-facturas">
        <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Folio</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="factura: ${cliente.facturas}">
                <td th:text="${factura.id}"></td>
                <td th:text="${factura.descripcion}"></td>
                <td th:text="${factura.createAt}"></td>
                <td th:text="${factura.total}"></td>
            </tr>
            </tbody>
        </table>
    </div>




    <footer th:replace="layout/layout :: footer"></footer>

</body>
</html>